<h1>Welcome <%=$player1%> and <%=$player2%> </h1>
<h1><%=$player1%>: 100 hit points</h1>
<h1><%=$player2%>: 100 hit points</h1>
<form action="/attack">
  <input type="submit" value="attack" />
</form>
